/*Form Styling */


.form-container {
    padding: 20px 40px;
    font-family: sans-serif;
    max-width: 760px;
    margin: 0 auto;
}


form {
    padding: 2em;
    background: var(--smoke);
    border-radius: 1rem;
}

input {
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    font-size: 16px;
}

button {
    background: var(--orange);
    border: none;
    width: 200px;
    padding: 1rem;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;

}

label {
    display: block;
    margin-top: 1rem;
}

.form-error {
    display: none;
    color: var(--error);
    font-size: 0.9rem;
    margin-top: 2px;
}