/* Footer */
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.foot-p {
    color: #8a8a8a;
}

.foot-img {
    filter: grayscale(100%);
}

.foot-img:hover {
    filter: grayscale(0%);
}

.foot-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.foot-hd {
    color: #fff;
    margin-bottom: 20px;
}

.footer-shoe-col1,
.footer-shoe-col2,
.footer-shoe-col3,
.footer-shoe-col4 {
    min-width: 250px;
    margin-bottom: 10px;
}

.footer-shoe-col1 {
    flex-basis: 30%;
}

.footer-shoe-col2 {
    flex: 1;
    text-align: center;
}

.footer-shoe-col2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-shoe-col3,
.footer-shoe-col4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.foot-cr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copy-kay {
    text-align: center;
}