/* html,
body {
    height: 100%;
} */

body {
    font-family: "Montserrat", sans-serif;
    /*  display: flex;
    flex-direction: column;
    justify-content: center; */
}

/* .apiInfo {
    flex: 1 0 auto;
} */


.powered {
    flex-shrink: 0;
    background-color: white;
    text-align: center;
    color: var(--orange) !important;
    font-size: 12px;
    padding: 1em 0;
}

.rocketsContainer h1 {
    margin-bottom: -2%;
    font-size: 1.6em;
    letter-spacing: .2em;
    text-transform: capitalize;
    color: var(--smoke);
    text-align: center;
    flex: 1;
}


.rocketsContainer {
    background-color: var(--mild);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(rgba(88, 92, 98, 0.9), rgba(23, 29, 40, 0.9)), url(/assets/imgs/50618355216_5e55630344_c.jpg);
}

.rockets {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
    margin: 5.8%;
    gap: .5em;
}

.rocketInfo {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    text-decoration: none;
    width: 350px;
    height: 350px;
    box-shadow: 0 10px 30px rgba(255, 128, 0, 0.2);
    border-radius: 8px;
    align-items: center;
    position: relative;
    background-color: rgba(205, 202, 202, 0.2);

}

.rocketInfo p {
    width: 60%;
}

.rocket-image img {
    width: 350px;
    border-radius: 8px;
    background-size: cover;
    background-position: center top;
}

h4.rocketName {
    font-size: 16px;
    margin-bottom: 0.75rem;
    color: var(--orange);
    letter-spacing: .2em;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

p.rocket-btn {

    border: none;
    width: 100px;
    height: 40px;
    padding: 0.4rem;
    color: white;
    cursor: pointer;
    border-radius: 0.4rem;
    display: flex;
    padding-left: 23px;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}